# NPM Configuration for Faster Builds
cache=/tmp/.npm
prefer-offline=true
progress=false
audit-level=moderate
fund=false
save=false
save-exact=true
loglevel=warn

# Nixpacks specific
package-lock=false
global-style=false